.w3-theme-pear-ebony {
color:#B8CC1F !important;background-color:#4E5235 !important}
.w3-theme-pear-yale {
color:#B8CC1F !important;background-color:#103A7D !important}
.w3-theme-peri-ebony {
color:#BDC9F1 !important;background-color:#4E5235 !important}
.w3-theme-peri-yale {
color:#BDC9F1 !important;background-color:#103A7D !important}
.w3-theme-citrine-ebony {
color:#E6C939 !important;background-color:#4E5235 !important}
.w3-theme-citrine-yale {
color:#E6C939 !important;background-color:#103A7D !important}
.w3-theme-ebony-pear {
color:#4E5235 !important;background-color:#B8CC1F !important}
.w3-theme-ebony-peri {
color:#4E5235 !important;background-color:#BDC9F1 !important}
.w3-theme-ebony-citrine {
color:#4E5235 !important;background-color:#E6C939 !important}
.w3-theme-yale-pear {
color:#103A7D !important;background-color:#B8CC1F !important}
.w3-theme-yale-peri {
color:#103A7D !important;background-color:#BDC9F1 !important}
.w3-theme-yale-citrine {
color:#103A7D !important;background-color:#E6C939 !important}

.w3-theme-action {
color:#fff !important;background-color:#311b92 !important}
.w3-text-theme {
color:#B8CC1F !important}
